* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

.navi-link:hover {
    color: #04efd0;
}

.heading-underline {
    color: whitesmoke;
    position: relative;
    font-size: 3.5em;
}

.heading-underline::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #00c2a8;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;

}

.green-text {
    color: #00c2a8
}

.green-bg {
    background-color: #00c2a8
}

.white-bg {
    background-color: whitesmoke
}

.white-text {
    color: whitesmoke;
}

.dark-bg {
    background-color: #171717;
}

.skill-item {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.2em;
    background: whitesmoke;
    border-radius: 5px;
    font-weight: 600;
    color: #00c2a8;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.white-btn:hover {
    background-color: #00c2a8;
    color: whitesmoke;
}

.cursor-cross {
    cursor: crosshair;
}

.resume {
    width: 100%;
    height: 100vh;
}

/* Smokey Effect */

.fog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.fog img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: fog_effect calc(3s * var(--i)) ease-in infinite;
}

@keyframes fog_effect {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25%,
    75% {
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}